options {
        directory "{{ bind_var_directory_path }}";

         {% if bind_is_caching %}
         forwarders {
                {{ bind_first_forwarder }};
                {{ bind_second_forwarder }};
         };
         {% endif %}

        dnssec-validation auto;
        auth-nxdomain no;
        version none;

        listen-on { {{ bind_listen_on }}; };
        listen-on-v6 { {{ bind_listen_on_v6 }}; };
};
