{% if bind_slave_hosts|length > 1 %}
acl slaves {
    {% for slave in bind_slave_hosts %}
    slave;
    {% endfor %}
};
{% endif %}

zone "{{ fqdn }}" {
    type master;
    file "/etc/bind/db.{{ bind_domain_name }}";
    {% if bind_slave_hosts|length > 1 %}
    allow-transfer { slaves; };
    {% endif %}
    notify {{ bind_notify }};
};

zone "{{ reverse_ip }}.in-addr.arpa" {
    type master;
    notify {{ bind_notify }};
    file "/etc/bind/db.{{ first_ip_byte }}";
    {% if bind_slave_hosts|length > 1 %}
    allow-transfer { slaves; };
    {% endif %}
};

