zone "{{ fqdn }}" {
    type slave;
    file "{{ bind_var_directory_path }}/slaves/db.{{ bind_domain_name }}";
    masters { {{ bind_master_host }}; };
};

zone "{{ reverse_ip }}.in-addr.arpa" {
    type slave;
    file "{{ bind_var_directory_path }}/slaves/db.{{ first_ip_byte }}";
    masters { {{ bind_master_host }}; };
};

