options {
        directory "{{ bind_var_directory_path }}";

         {% if bind_is_caching %}
         forwarders {
                {{ bind_first_forwarder }};
                {{ bind_second_forwarder }};
         };
         {% endif %}

        dnssec-validation auto;
        auth-nxdomain no;
        version none;

        listen-on {% if bind_listen_on.port != "" %} port {{ bind_listen_on.port }} {% endif %} { {{ bind_listen_on.ip }}; };
        listen-on-v6 {% if bind_listen_on_v6.port != "" %} port {{ bind_listen_on_v6.port }} {% endif %} { {{ bind_listen_on_v6.ip }}; };
};
