{% if slave_hosts|length > 1 %}
acl slaves {
    {% for slave in slave_hosts %}
    slave;
    {% endfor %}
};
{% endif %}

zone "{{ fqdn }}" {
    type master;
    file "/etc/bind/db.{{ domain_name }}";
    {% if slave_hosts|length > 1 %}
    allow-transfer { slaves; }
    {% endif %}
};

zone "{{ reverse_ip }}.in-addr.arpa" {
    type master;
    notify no;
    file "/etc/bind/db.{{ first_ip_byte }}";
};

