zone "{{ fqdn }}" {
    type master;
    file "/etc/bind/db.{{ domain_name }}";
};

zone "{{ reverse_ip }}.in-addr.arpa" {
    type master;
    notify no;
    file "/etc/bind/db.{{ first_ip_byte }}";
};

